.fondo {
    background: rgb(144, 224, 239);
    background: linear-gradient(
        274deg,
        rgba(144, 224, 239, 1) 3%,
        rgba(2, 62, 138, 1) 52%
    );
}

.colorTexto {
    color: white;
}

body {
    margin: 0;
    padding: 0;
}
 
.background-image {
    position: relative; /* Necesario para posicionar el pseudo-elemento correctamente */
    height: 100vh;
    width: 100%;
    overflow: hidden; /* Asegura que nada sobresalga del contenedor */
}
 
.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://res.cloudinary.com/dkns1nzgp/image/upload/v1724812819/imagen_7_bjqh0h.png');
    background-size: cover; /* Escala la imagen para que cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el contenedor */
    opacity: 0.5; /* Cambia la opacidad de la imagen de fondo */
    z-index: -1; /* Asegura que la imagen de fondo esté detrás del contenido */
}
 
h1 {
    position: relative; /* Asegura que el texto esté por encima de la imagen de fondo */
    color: white;
    text-align: center;
    padding: 25px;
}

.solicitaVuelo .venta{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.styleCard{
    border-radius: 12px;
    background: #dfe7fd;
    /*background: rgb(144, 224, 239);*/
}

.card-border-text {
    position: absolute;
    top: -24px; /* Ajusta según el borde deseado (top, bottom, left, right) */
    left: 12%;
    transform: translateX(-50%); /* Centra horizontalmente el texto */
    background: white;  /*Fondo blanco para que resalte sobre el borde */
    padding: 0 5px; /* Ajusta el padding según lo necesites */
    font-size: 24px; /* Tamaño del texto */
    font-style: italic;
    border: 1px solid transparent; /* Puede ajustarse para más definición */
    border-radius: 8px;
}